<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{includes/header :: head}"></head>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">하원 관리</h1>

    <!-- DataTales Example -->
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">하원 상세 정보</h6>
                </div>
                <div class="card-body">
                    <th:block th:object="${lowerVO}">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:80%">
                        </colgroup>
                        <tr>
                            <td th:text="#{lower.lowerTitle}"></td>
                            <td th:text="${lowerVO.lowerTitle}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{lower.lowerType}"></td>
                            <td th:text="${lowerVO.lowerType}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{lower.carName}"></td>
                            <td th:text="${lowerVO.carName}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{lower.lowerDt}"></td>
                            <td th:text="${lowerVO.lowerDt}"></td>
                        </tr>
                        <tr>
                            <td>하원 시간</td>
                            <td th:text="|${lowerVO.lowerStartHh}시 ${lowerVO.lowerStartMi}분|"></td>
                        </tr>
                    </table>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">하원 유아 목록</h6>
                </div>
                <div class="card-body">
                        <form id="lowerChildForm" method="post" th:action="@{/lower/lowerChild/remove}">
                        <input type="hidden" name="lowerNo" th:value="${lowerVO.lowerNo}">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:35%">
                                <col style="width:30%">
                                <col style="width:25%">
                            </colgroup>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>이름</td>
                                <td>반</td>
                                <td>성별</td>
                            </tr>
                            <tr th:each="child , status : ${childLowerList}">
                                <td><input type="checkbox" name="childNoArr" th:value="${child.lowerChildNo}"></td>
                                <td th:text="${child.childName}"></td>
                                <td th:text="${child.className}"></td>
                                <td th:text="|${child.childGender == 'W' ? '여자' : '남자'}|"></td>
                            </tr>
                        </table>
                        </form>
                </div>
            </div>

            <a href="#" th:onclick="delChild();" class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                <span class="text" th:text="#{btn.delete}"></span>
            </a>
        </div>
    </div>
    <a th:href="@{|/lower/edit/${lowerVO.lowerNo}|}" class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas
                                                 fa-flag"></i>
                                            </span>
        <span class="text" th:text="#{btn.update}"></span>
    </a>
    <a th:href="@{|/lower/remove/${lowerVO.lowerNo}|}" class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
        <span class="text" th:text="#{btn.delete}"></span>
    </a>
    <a th:href="@{/lower/list}" class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
        <span class="text" th:text="#{btn.list}"></span>
    </a>
    <a th:onclick="addChild();" class="btn btn-secondary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
        <span class="text">유아 추가</span>
    </a>
</div>

<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- 유아 추가 Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-height: calc(70% - 3.5rem);">
        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">유아 추가</h4>
            </div>
            <div class="modal-body">
                <form id="modalForm" th:action="@{/lower/lowerChild/add}" method="post">
                <input type="hidden" name="lowerNo" th:value="${lowerVO.lowerNo}">
                <div class="card-body">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:35%">
                                <col style="width:30%">
                                <col style="width:25%">
                            </colgroup>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>이름</td>
                                <td>반</td>
                                <td>성별</td>
                            </tr>
                            <tr th:each="child , status : ${childList}">
                                <td><input type="checkbox" name="childNoArr" th:value="|${child.childNo},${child.childName},${child.classNo}|"></td>
                                <td th:text="${child.childName}"></td>
                                <td th:text="${child.className}"></td>
                                <td th:text="${child.childGender}"></td>
                            </tr>
                        </table>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-default">저장</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{includes/footer :: footer}"></footer>

<script src="/js/lower/lower.js"></script>

</html>
