<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{includes/header :: head}"></head>


<script th:inline="javascript">

    /*<![CDATA[*/

    const result = /*[[${message}]]*/;
    if(result != null) {
        alert(result);
    }

    /*]]>*/

</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">하원 관리</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">하원 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>방식</th>
                        <th>생성일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lower , status : ${lowerList}">
                        <td th:text="${lower.lowerNo}"></td>
                        <td><a th:href="@{|/lower/info/${lower.lowerNo}|}" th:text="${lower.lowerTitle}"></a></td>
                        <td th:text="${lower.lowerDt}"></td>
                        <td th:text="|${lower.lowerStartHh}시|+|${lower.lowerStartMi}분|"></td>
                        <td th:text="${lower.lowerType}"></td>
                        <td th:text="${lower.lowerRegDt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a th:href="@{/lower/form}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
        <span class="text">등록</span>
    </a>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{includes/footer :: footer}"></footer>

</html>
