<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="house.lower.User.mapper.UserMapper">
    <select id="selectUserList" parameterType="house.lower.User.vo.UserVO" resultType="house.lower.User.vo.UserVO">
        SELECT
            USER_ID
            ,USER_NAME
            ,USER_PASSWORD
        FROM
            USER_INFO
    </select>
</mapper>